---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Installation - LrGeniusAI">
  <section class="installation-section">
    <h1>Installation and updates</h1>
    
    <h2>Installation</h2>
    <p>Before you start the installation, please download the latest installer file from the <a href="/downloads">Downloads page</a>.</p>
    
    <p>Lightroom must be closed when you run the installer after downloading. The installer will download the latest version of LrGeniusAI and model files for the semantic search. This might take some time depending on your connection speed.</p>

    <p>After the installer completes. Open Lightroom Classic and go to the plug-in manager. There plugin should be listed as LrGeniusAI. Proceed with <a href="/help">First steps</a></p>

    <h2>Installing an update</h2>
    <p><b>Please close Lightroom before starting an update of LrGeniusAI</b></p>
    <h3>Windows</h3>
    Open the "<b>LrGeniusAI-Update-Tool</b>" from the start menu and choose "Update components". Follow the instructions.
    <h3>macOS</h3>
    Open the "<b>LrGeniusAI-Update-Tool</b>" from the spotlight search and choose "Update components". Follow the instructions.
  </section>
</Layout>

<style>
  .installation-section {
    padding: 2rem 0;
    max-width: 800px;
    margin: 0 auto;
  }
  code {
    background-color: #f5f5f5;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
  }
</style>
